flows_Pi_AP.json
[{"id":"221648b6.52d0a","type":"tab","label":"Recieve Data from Pod"},{"id":"5a4ec8f0.8d1f5","type":"tab","label":"Read Pod's Saved Data"},{"id":"b478695b.49057","type":"tab","label":"Reboot"},{"id":"b0185adb.bc4578","type":"tab","label":"Calibrate"},{"id":"a353f9a7.367da","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5d8bc145.b648","type":"mqtt-broker","z":"","broker":"192.168.42.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"786327fb.cfbe78","type":"mqtt in","z":"221648b6.52d0a","name":"Receive","topic":"dataToPi","qos":"2","broker":"a353f9a7.367da","x":87,"y":130,"wires":[["c0f2b349.26028","ff39f120.7c2c28"]]},{"id":"21fed9d.5010226","type":"inject","z":"221648b6.52d0a","name":"Trigger Delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":232,"wires":[["31221297.7d6b36"]]},{"id":"31221297.7d6b36","type":"file","z":"221648b6.52d0a","name":"Delete File","filename":"/home/pi/Documents/Catfish/MQTTData.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":336,"y":232,"wires":[]},{"id":"851f31d9.c4385","type":"file in","z":"221648b6.52d0a","name":"Read File","filename":"/home/pi/Documents/Catfish/MQTTData.txt","format":"utf8","x":326,"y":284,"wires":[["d5073e64.42baa"]]},{"id":"6cc21664.a42fb8","type":"inject","z":"221648b6.52d0a","name":"Trigger Read","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":284,"wires":[["851f31d9.c4385"]]},{"id":"d5073e64.42baa","type":"debug","z":"221648b6.52d0a","name":"Debug","active":true,"console":"false","complete":"payload","x":552,"y":284,"wires":[]},{"id":"c0f2b349.26028","type":"debug","z":"221648b6.52d0a","name":"Debug","active":true,"console":"false","complete":"payload","x":552,"y":130,"wires":[]},{"id":"ff39f120.7c2c28","type":"file","z":"221648b6.52d0a","name":"Write File","filename":"/home/pi/Documents/Catfish/MQTTData.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":562,"y":174,"wires":[]},{"id":"d2228b9.d469178","type":"mqtt in","z":"5a4ec8f0.8d1f5","name":"Receive File","topic":"fileToPi","qos":"2","broker":"a353f9a7.367da","x":100,"y":167,"wires":[["74310c3.e798b74","d92a03de.d293"]]},{"id":"74310c3.e798b74","type":"debug","z":"5a4ec8f0.8d1f5","name":"Debug","active":true,"console":"false","complete":"payload","x":338,"y":124,"wires":[]},{"id":"d92a03de.d293","type":"file","z":"5a4ec8f0.8d1f5","name":"","filename":"/home/pi/Documents/Catfish/DataFromPod.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":468,"y":167,"wires":[]},{"id":"81b7b1ed.9687c","type":"inject","z":"5a4ec8f0.8d1f5","name":"Read SensorPod File","topic":"","payload":"Read SD File","payloadType":"str","repeat":"","crontab":"","once":false,"x":129,"y":321,"wires":[["b6a21bfe.6cf198"]]},{"id":"b6a21bfe.6cf198","type":"mqtt out","z":"5a4ec8f0.8d1f5","name":"send","topic":"fileTransfer","qos":"","retain":"","broker":"5d8bc145.b648","x":339,"y":321,"wires":[]},{"id":"46cef0f.740bd9","type":"comment","z":"221648b6.52d0a","name":"README","info":"This flow handles receiving data from the Sensor Pod, and stores received data into a file.\n\nYou can also delete the file that the pi saves the data into by clicking the button beside the `Trigger Delete` node.","x":86,"y":48,"wires":[]},{"id":"2c0b2a95.30594e","type":"comment","z":"5a4ec8f0.8d1f5","name":"README","info":"This flow handles getting saved data from the Sensor Pod's SD card, and stores received data into a file.\n\nTo trigger a file transfer, simply click the button next to the `Read SensorPod File` node.\n\nTo trigger a file removal, click the button next to the `Delete SensorPod File` node. That will delete the file (if it exists) from the Sensor Pod.","x":90,"y":59,"wires":[]},{"id":"bf89ecfc.bd7f4","type":"comment","z":"221648b6.52d0a","name":"<-- This deletes the file on the pi, NOT on the pod","info":"","x":600,"y":233,"wires":[]},{"id":"c9115c85.decea8","type":"inject","z":"5a4ec8f0.8d1f5","name":"Delete SensorPod File","topic":"","payload":"Delete SD File","payloadType":"str","repeat":"","crontab":"","once":false,"x":128,"y":379,"wires":[["88cadef5.afa2c8"]]},{"id":"88cadef5.afa2c8","type":"mqtt out","z":"5a4ec8f0.8d1f5","name":"send","topic":"fileTransfer","qos":"","retain":"","broker":"5d8bc145.b648","x":338,"y":379,"wires":[]},{"id":"8a309060.9789b","type":"mqtt in","z":"5a4ec8f0.8d1f5","name":"Incoming messages","topic":"messageForPi","qos":"2","broker":"a353f9a7.367da","x":117,"y":490,"wires":[["8008c8cd.2e473"]]},{"id":"8008c8cd.2e473","type":"debug","z":"5a4ec8f0.8d1f5","name":"Debug","active":true,"console":"false","complete":"payload","x":338,"y":490,"wires":[]},{"id":"c51bb374.a14c18","type":"comment","z":"5a4ec8f0.8d1f5","name":"<-- This will delete the data file from the Pod's SD card","info":"","x":600,"y":379,"wires":[]},{"id":"1b06120e.1d3bee","type":"mqtt in","z":"5a4ec8f0.8d1f5","name":"From phone","topic":"messageFromPhone","qos":"2","broker":"a353f9a7.367da","x":96,"y":546,"wires":[["c6d8457d.597448"]]},{"id":"c6d8457d.597448","type":"debug","z":"5a4ec8f0.8d1f5","name":"Debug","active":true,"console":"false","complete":"payload","x":337,"y":546,"wires":[]},{"id":"ad0a9ad6.901798","type":"exec","z":"b478695b.49057","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":258,"y":37.5,"wires":[[],[],[]]},{"id":"8329c846.0b3fc8","type":"inject","z":"b478695b.49057","name":"REBOOT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":37,"wires":[["ad0a9ad6.901798"]]},{"id":"c8994e61.fcd8","type":"inject","z":"5a4ec8f0.8d1f5","name":"Read transferred file","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":225,"wires":[["a06a1939.c3df"]]},{"id":"a06a1939.c3df","type":"file in","z":"5a4ec8f0.8d1f5","name":"","filename":"/home/pi/Documents/Catfish/DataFromPod.txt","format":"utf8","x":469,"y":225,"wires":[["4d6b3dd.9af7344"]]},{"id":"4d6b3dd.9af7344","type":"debug","z":"5a4ec8f0.8d1f5","name":"Debug","active":true,"console":"false","complete":"payload","x":796,"y":225,"wires":[]},{"id":"75433514.1b32a4","type":"inject","z":"5a4ec8f0.8d1f5","name":"Delete transferred file","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":261,"wires":[["3056e9b7.3c5cbe"]]},{"id":"3056e9b7.3c5cbe","type":"file","z":"5a4ec8f0.8d1f5","name":"","filename":"/home/pi/Documents/Catfish/DataFromPod.txt","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":489,"y":261,"wires":[]},{"id":"33fc60ba.0acd6","type":"inject","z":"b0185adb.bc4578","name":"","topic":"","payload":"calibrate","payloadType":"str","repeat":"","crontab":"","once":false,"x":133,"y":83,"wires":[["d3a99aa0.c818d8"]]},{"id":"d3a99aa0.c818d8","type":"mqtt out","z":"b0185adb.bc4578","name":"send","topic":"calibration","qos":"","retain":"","broker":"5d8bc145.b648","x":338,"y":83,"wires":[]},{"id":"549bbd6a.47d314","type":"mqtt in","z":"b0185adb.bc4578","name":"calibration messages","topic":"calibrationMessage","qos":"2","broker":"a353f9a7.367da","x":173,"y":194,"wires":[["f840d4fe.ed2098"]]},{"id":"f840d4fe.ed2098","type":"debug","z":"b0185adb.bc4578","name":"","active":true,"console":"false","complete":"false","x":380,"y":194,"wires":[]}]